Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.js$
        pass_filenames: false
        entry: npm run js:typecheck

Add type hinting to rescloud config.js
  environment-configs/rescloud.iu.edu-config.js
Due: typecheck

Add mentions of Typescript to contributing.md and quality-checklist.md
  contributing.md
  docs/quality-checklist.md
Due: none

Update ADR for security concerns
  docs/adr/guest-utilities.md
Due: none

feat: store a share’s access rule after creation
  src/OpenStack/Shares.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: request access rules for a newly created share
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add new share goal to orchestration
  src/Orchestration/GoalShare.elm
  src/Orchestration/Orchestration.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Apply 1 suggestion(s) to 1 file(s)
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Switch from elm-community/list-extra to elmcraft/core-extra
  elm.json
Due: none

Fix date-format dependency, and update all others
  elm.json
Due: none

feat: add exoClientUuid to share metadata
  src/OpenStack/Shares.elm
  src/OpenStack/Types.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: only create default access rule from the client that created a share
  src/Orchestration/GoalShare.elm
  src/Orchestration/Orchestration.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Update guest-utilities.md
  docs/adr/guest-utilities.md
Due: none

Update Julian's employer
  docs/governance.md
Due: none

Contribution Review Policy
  README.md
  docs/governance.md
  docs/quality-checklist.md
  docs/review-policy.md
  mkdocs/mkdocs.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/OpenStack/Shares.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Apply 1 suggestion(s) to 1 file(s)
  docs/quality-checklist.md
Due: none

test: allow js in js:typecheck tsc config
  tsconfig.json
Due: none

feat: add security group localization
  docs/config-options.md
  docs/nomenclature-reference.md
  docs/quality-checklist.md
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  src/Types/Defaults.elm
  src/Types/Flags.elm
  src/Types/HelperTypes.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, typecheck

feat: add extra security group fields, api helpers
  src/Helpers/GetterSetters.elm
  src/OpenStack/Types.elm
  src/Rest/ApiModelHelpers.elm
  src/Rest/Neutron.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add security groups list page
  src/Page/SecurityGroupList.elm
  src/Route.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/OuterMsg.elm
  src/Types/View.elm
  src/View/Breadcrumb.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: security group rule string helpers
  src/OpenStack/SecurityGroupRule.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: parse security group remote_ip_prefix
  src/OpenStack/SecurityGroupRule.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add supportable security group
  src/Page/GetSupport.elm
  src/Types/HelperTypes.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add security group detail page
  src/Helpers/GetterSetters.elm
  src/Page/SecurityGroupDetail.elm
  src/Route.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/OuterMsg.elm
  src/Types/View.elm
  src/View/Breadcrumb.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: navigate to security group detail page from list
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: look up remote security group for rules
  src/Page/SecurityGroupDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Display 'any' address CIDR ranges
  src/Page/SecurityGroupDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Add Credential generation helper functions
  elm.json
  src/Helpers/Credentials.elm
  src/Helpers/Helpers.elm
  src/Helpers/String.elm
  src/Helpers/Yaml.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Move copyableScript to Style.Widgets.CopyableText
  src/DesignSystem/Stories/CopyableText.elm
  src/Page/ShareDetail.elm
  src/Style/Widgets/CopyableText.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Add credential to localized strings
  review/src/NoHardcodedLocalizedStrings.elm
  src/Page/LoginOpenstack.elm
  src/Page/ServerDetail.elm
  src/Types/Defaults.elm
  src/Types/Flags.elm
  src/Types/HelperTypes.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format

Add project credentials page
  src/Page/Credentials.elm
  src/Page/ProjectOverview.elm
  src/Route.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/OuterMsg.elm
  src/Types/View.elm
  src/View/Breadcrumb.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Initial Onramp page
  src/Helpers/Url.elm
  src/Page/OnrampCLI.elm
  src/Route.elm
  src/State/ViewState.elm
  src/Types/View.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Remove non-project onramp view
  src/Page/Credentials.elm
  src/Page/OnrampCLI.elm
  src/Page/ProjectOverview.elm
  src/Route.elm
  src/State/ViewState.elm
  src/Types/View.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Remove credentials dropdowns, use inline links
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  src/Page/Credentials.elm
  src/State/State.elm
  src/Types/OuterMsg.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format, typecheck

Update documentation and apply indefinite article change from MR
  docs/config-options.md
  docs/nomenclature-reference.md
  src/Page/Credentials.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Apply 1 suggestion(s) to 1 file(s)
  src/View/PageTitle.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Silence possible dns recordset error when deleting a server
  src/Rest/Designate.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: use nullable user_id when parsing server events
  src/OpenStack/Types.elm
  src/Rest/Nova.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: fetch server security groups
  src/Helpers/GetterSetters.elm
  src/OpenStack/SecurityGroupRule.elm
  src/OpenStack/Types.elm
  src/Rest/ApiModelHelpers.elm
  src/Rest/Neutron.elm
  src/Rest/Nova.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/Server.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add security groups tile to server detail page
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format
