Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.js$
        pass_filenames: false
        entry: npm run js:typecheck

Added ICMP rule for IPv6 ping to default rules
  src/OpenStack/SecurityGroupRule.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Extend flavor picker to optionally show disabled flavors
  src/Page/ServerCreate.elm
  src/Page/ServerResize.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Remove redundant Jetstream2 in email subject
  environment-configs/jetstream2.exosphere.app-config.js
Due: typecheck

Restrict TurboVNC to only support encrypted connections
  ansible/roles/vnc-server/files/turbovncserver-security.conf
  ansible/roles/vnc-server/tasks/Debian.yml
  ansible/roles/vnc-server/tasks/RedHat.yml
Due: none

install passlib at same time as ansible-core
  ansible/roles/passphrase/tasks/main.yml
  src/ServerDeploy.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Add trailing newline to fix config parsing
  ansible/roles/vnc-server/files/turbovncserver-security.conf
Due: none

document that Exosphere supports Ubuntu 24.04 instances
  docs/compatibility.md
Due: none

Draft documentation for VNC connections
  README.md
  docs/assets/instance-details.png
  docs/assets/vnc-viewer-accelerated-process.png
  docs/assets/vnc-viewer-authentication.png
  docs/assets/vnc-viewer-connect.png
  docs/assets/vnc-viewer-desktop.png
  docs/graphical-acceleration.md
Due: none

Add Jetstream2 instance types for Ubuntu 24.04
  cloud_configs.js
Due: typecheck

update browser tests with changed text on Ubuntu 22.04 button
  integration-tests/features/exosphere.feature
Due: none

Add graphical acceleration to mkdocs
  mkdocs/mkdocs.yml
Due: none

for Ubuntu 24.04 instance type on Jetstream2, warn that there is no software collection
  cloud_configs.js
Due: typecheck

Fix Python syntax warning
  ansible/roles/system-load-logging/files/system_load_json.py
Due: none

feat: show selectable list of security groups for instance
  src/Page/ServerSecurityGroups.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Style/Widgets/DataList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: deduplicate functions in Rest.Nova to update a server's security group assignments
  src/Rest/Nova.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

tidy: remove unused parameter that 0eb911b6ee7e788af37d2e607be681afa8c78106 eliminated need for
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

readability: extract a 20-line inline function
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: apply server security group changes
  src/OpenStack/Types.elm
  src/Page/ServerSecurityGroups.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix additional premature let computation
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix premature let computation
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add server security groups page scaffolding
  src/Page/ServerDetail.elm
  src/Page/ServerSecurityGroups.elm
  src/Route.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/OuterMsg.elm
  src/Types/View.elm
  src/View/Breadcrumb.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add & remove server security groups requests
  src/Rest/Nova.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

don't modify received time of server security groups RDPP when adding or removing a security group
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

simplify SecurityGroupSelected Msg and its handling
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show consolidated rules for server security groups selected
  src/Page/SecurityGroupRulesTable.elm
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

remove unused import expose
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

readability: give name and type annotation to 20-line inline function
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

readability: extract 40-line inline function to named function with type annotation
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

chore: change server detail security group link to edit button
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: stray reference to share uuid in security group detail
  src/Route.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: server security groups tooltip with rules
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add unique by list helper
  src/Helpers/List.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: send updated security groups to page after adding or removing
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: select security groups by clicking their name
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add view details link on rules table
  src/Page/SecurityGroupRulesTable.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add return to instance button on instance security details page
  src/Page/ServerSecurityGroups.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show shadowed security group rules in server consolidated view
  src/OpenStack/SecurityGroupRule.elm
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: improve security group rules sorting
  src/Helpers/GetterSetters.elm
  src/Page/SecurityGroupRulesTable.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: match rule should compare remotes
  src/OpenStack/SecurityGroupRule.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: improve expressiveness of selected security groups type
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format
