Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.js$
        pass_filenames: false
        entry: npm run js:typecheck

fix: rehydrating project with security groups
  src/State/Init.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: look up security group using server security group uuid
  src/Helpers/GetterSetters.elm
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: server security group name & description overflow
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: make server security groups an experimental feature
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: poll server security groups in orchestration
  src/Orchestration/GoalServer.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: poll security groups in network orchestration
  src/Orchestration/GoalNetworkResources.elm
Due: elm-test, elm-analyse, elm-review, elm-format

chore: change security group localization to "firewall ruleset"
  docs/config-options.md
  docs/nomenclature-reference.md
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  src/Types/Defaults.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, typecheck

add security group to NoHardcodedLocalizedStrings elm-review rule
  review/src/NoHardcodedLocalizedStrings.elm
Due: elm-test, elm-analyse, elm-review, elm-format

style: fix elm format of NoHardcodedLocalizedStrings
  review/src/NoHardcodedLocalizedStrings.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Use FeatherIcons terminal for Credentials pages
  src/Page/Credentials.elm
  src/Page/ProjectOverview.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Silently ignore unchanged server name edits
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Don't recreate dns records when the hostname has not changed
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Apply 1 suggestion(s) to 1 file(s)
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Store webssoUrl as a full URL instead of webssoKeystoneEndpoint partial URL
  docs/federated-login.md
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  environment-configs/try-dev.exosphere.app-config.js
  src/Page/LoginOpenIdConnect.elm
  src/Page/LoginPicker.elm
  src/Types/Flags.elm
  src/Types/HelperTypes.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, typecheck

feat: filter instances by security group membership
  src/Page/ServerList.elm
  src/State/ViewState.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add server count & unused tag to security groups list
  src/Helpers/GetterSetters.elm
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: wait for server security groups to load before counting them
  src/Helpers/GetterSetters.elm
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show instance details on security group detail page
  src/Page/SecurityGroupDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show instances on security group detail page
  src/Page/SecurityGroupDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: keep security group filter behind experimental features flag
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: add server creator name helper
  src/Helpers/Helpers.elm
  src/Page/ServerDetail.elm
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: string helper to check count before pluralizing
  src/Helpers/String.elm
  src/Page/ServerDetail.elm
  src/Page/ServerResourceUsageCharts.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: progressively load servers for security group
  src/Helpers/GetterSetters.elm
  src/Page/SecurityGroupDetail.elm
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Initial banners integration
  banners.json
  config.js
  environment-configs/docker-config.js
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  environment-configs/try-dev.exosphere.app-config.js
  environment-configs/try.exosphere.app-config.js
  src/State/Init.elm
  src/State/State.elm
  src/State/Subscriptions.elm
  src/Types/Banner.elm
  src/Types/Flags.elm
  src/Types/SharedModel.elm
  src/Types/SharedMsg.elm
  src/View/Banner.elm
  src/View/View.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, typecheck

Add banners to docs/config-options.md
  docs/assets/banners-dark.png
  docs/assets/banners-light.png
  docs/config-options.md
Due: none

feat(ui): add code span & code block components
  src/DesignSystem/Explorer.elm
  src/DesignSystem/Stories/Code.elm
  src/Style/Widgets/Code.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: app to use code span & code block where appropriate
  src/Page/Credentials.elm
  src/Style/Widgets/Alert.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: update copyable script style for consistency with multiline inputs
  src/Style/Widgets/CopyableText.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Move Banner query into Rest.Banner
  src/Rest/Banner.elm
  src/State/Init.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add a small size variant of the status badge component
  src/DesignSystem/Explorer.elm
  src/Page/ProjectOverview.elm
  src/Page/SecurityGroupDetail.elm
  src/Page/ServerDetail.elm
  src/Style/Widgets/StatusBadge.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show full status of instances in server list
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add filtering instances by status
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Add task to install passlib for passphrase hashing
  ansible/roles/passphrase/tasks/main.yml
Due: none

Clean up banners request and response handling
  src/Rest/Banner.elm
  src/Rest/Helpers.elm
  src/State/State.elm
  src/Types/Banner.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Update banner images in documentation
  docs/assets/banners-dark.png
  docs/assets/banners-light.png
  src/View/Banner.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Set security groups to loading when making initial request
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

On Jetstream2, Ubuntu 20.04 instance type no longer works with GPU
  cloud_configs.js
Due: typecheck

fix JSON formatting
  cloud_configs.js
Due: typecheck

Apply 3 suggestion(s) to 1 file(s)
  docs/config-options.md
Due: none

Update banner typing in types.d.ts
  types.d.ts
Due: none
